@import '../../scss/utils/vars.scss';

.app-adverts {
  
  flex: 1 0 300px;
  list-style: none;
  padding: 10px;

  li {
    background-color: $panelBg;
    padding: 20px;
    font-size: medium;
    display: block;

    p {
      font-size: medium;
      font-weight: 200;
    }

    a.btn {
      background-color: $defaultBtnBg;
      color: white;
    }
  }
}

@media (max-width: $smDesktopWidth) {
  .app-adverts {
    display: none;
  }
}