$mainFontColor           : #101010;

$footerBgColor: #282c34;
$footerFontColor: #999;

$defaultBtnBg: #61dafb;
$defaultBtnFontColor: #000;

$panelBg: rgb(247, 247, 247);

$defaultFontFamily :"Helvetica";

$maxContentWidth: 800px;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

