
@import '../../scss/utils/vars.scss';

.person-screen {
  max-width: $maxContentWidth;

  table ul {
    list-style: none;
    padding: 0;
  }

  .user-photo {
    max-width: 600px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}