.app-container {
  width: 100%;  
  text-align: center;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  background-color: white;
  color: #333;
  flex:1;
  display: flex;
  flex-wrap:wrap;
}