@import '../../scss/utils/vars.scss';


.people-screen {
  display: flex;
  flex-direction: column;

  .people-table-container {
    align-self: stretch;
    flex:1;
    justify-self: center;
    display: flex;
    justify-content: center;

    @media(max-width:$tableWidth) {
      td:nth-child(n+4), th:nth-child(n+4) {
        display: none;
        //background-color: red;
      }
    }

    @media(max-width:$phoneWidth) {
      td:nth-child(n+3), th:nth-child(n+3) {
        display: none;
        //background-color: red;
      }
    }
  }
}