@import './utils/vars';

html {
  font-family: $defaultFontFamily;
  font-weight: 200;
  font-size: 12px;
}

body {
  margin: 0;
}

a {
  font-family: $defaultFontFamily;
} 

h1 {
  color: $mainFontColor; 
  margin-top: 40px;
  font-size: 60px;
}

@media (max-width: $smDesktopWidth) {
  h1 {
    margin-top: 30px;
    font-size: 40px;
  }
}



